<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="EFconnection" connectionString="Data Source=LAPTOP-LE0HU5AN\SQLEXPRESS;Initial Catalog=GymTest;Integrated Security=True;Encrypt=True;Trust Server Certificate=True"/>
	</connectionStrings>
	<appSettings>
		<add key="DataLayer" value="EFCore"/>
	</appSettings>
</configuration>